# No build / target directories
*/target

# Ignore class files
*.class
# Ignore vim swp files
.*.swp

.idea/*
atlassian-ide-plugin.xml
*.iml

Google Docs Share/src/main/amp/config/alfresco/web-extension/custom-slingshot-googledocs-context.xml
