.gdocs-wrapper {
   position: absolute;
   top: 42px;
   bottom: 0px;
   left: 0px;
   right: 0px;
}

.gdocs-embed {
	 border-width: 0px;
    height: 100%;
    width: 100%;
}

html {
   overflow-y: hidden;
}