.gdtoolbar {
   display: block;
   background-color: #000000;
   border-bottom: 1px solid #DFDFDF;
   border-top: 1px solid #DFDFDF;
   padding-top: 8px;
   padding-bottom: 10px;
   height: 30px;
   margin: 0px -10px
}

.gd-button-image {
    height: 20px;
    width: 20px;
    padding: 1px;
}

.gd-back-image {
   position: absolute;
   background-color: #999999;
   width: 20px;
   border-left-width: 2px;
   border-left-color: #FFFFFF;
   z-index: 250;
}

.gd-button{
   text-align: center;
   white-space: nowrap;
   width: 130px;
   color: #FFFFFF;
   border: 0px;
}

.gd-container{
   position: absolute;
}

.gdback {
   left: 0px;
   top: 1px;
}

.gdback-button {
   background-color: #000000;
   padding: 11px;
   font-size: 14px;
   font-weight: bold;
   
}

.gddiscard {
   right: 150px;
}
.gddiscard-button {
   background-color: #FF6600;
   padding:  7px;
   
}

.gdsave {
   right: 10px;
}

.gdsave-button {
   background-color: #6DAB61;
   padding: 4px;
}